.favorite{
  background: url("https://www.wallpaperup.com/uploads/wallpapers/2014/10/08/474550/69d04c30f6d4e3466714773dc1d1a7f7.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

.character-favorite{
  margin-left: 70px;
  margin-right: 70px;
}
