.index{
  background: url("http://blog.pixelastic.com/img/files/2016-06-01/background.gif") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
