.profile-container {
  background: url("https://cutewallpaper.org/21/spiderman-black-background/Back-to-formula-with-this-classic-suit-and-black-background-.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:auto;
}

.edit-profile {
  padding-top: 100px;
  width: 32rem;
  z-index: 5;
}

.right-card {
  float:left;
  padding-left: 60px;
}

.card-black {
  background-color: #212121;

  & h2 {
    color: white;
  }
}

.login {
  background: url(asset_path("login_page.jpg")) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:auto;
}

.btn-big {
  padding: 10px 160px;
}

.signup {
  padding: 20px 20px 20px 0px;
}
