<div class="noresult">
  <div class="container d-flex justify-content-around">
    <div class="text-white" style="margin:auto;">
      <h1>Sorry no results</h1>
      <div class="">
        <%= link_to :back, class: "btn d-flex justify-content-around button-no-effect" do %>
        <i class="fas fa-undo text-white text-center fa-2x"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
