.navbar-lewagon {
  justify-content: space-between;
  background-color: #212121;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: visible;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;

}

.navbar-lewagon .profile{
  padding-right: 120px;
}
